name: Create a release pull request

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  create-release-pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: get-npm-version
      id: package-version
      uses: martinbeentjes/npm-get-version-action@master
      run: echo v${{ steps.package-version.outputs.current-version}}

    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: Create a release pull request
      env:
        GIT_PR_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_PR_RELEASE_BRANCH_PRODUCTION: release
        GIT_PR_RELEASE_BRANCH_STAGING: master
        GIT_PR_RELEASE_LABELS: release
        GIT_PR_RELEASE_TITLE: v${{ steps.package-version.outputs.current-version}}
      run: |
        gem install -N git-pr-release -v "1.2.0"
        git-pr-release --no-fetch
