name: Release

on:
  push:
    branches:
      - master

jobs:

  release:
    runs-on: ubuntu-latest

    outputs:
      RELEASE_VERSION: ${{ steps.bump-version.outputs.RELEASE_VERSION }}

    steps:
      - name: Bump version
        id: bump-version
        run: |
          npm --no-git-tag-version version patch
          export RELEASE_VERSION=`npm run version --silent`
          sh ./bin/github-actions/update-readme.sh
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo ::set-output name=RELEASE_VERSION::$RELEASE_VERSION

      - name: Slack Notification
        uses: weseek/ghaction-slack-notification@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: '*Release (${{ env.RELEASE_VERSION }})*'
          channel: '#general'
          isCompactMode: true
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
