name: Create Release

on:
  pull_request:
    types: [opened]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.pull_request.title }}
          release_name: ${{ github.event.pull_request.title }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false

      - name: Slack Notification
        uses: weseek/ghaction-slack-notification@master
        if: always()
        with:
          type: ${{ job.status }}
          job_name: '*Release (${{ matrix.node-version }})*'
          channel: '#general'
          isCompactMode: true
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
